<template>
  <q-layout view="hHh lpR fFf" container class="chat-card">
    <q-header>
      <q-toolbar class="bg-black border-bottom">
        <q-avatar>
          <q-spinner-puff
            v-show="state.loading"
            color="positive"
            :thickness="5"
            size="20px"
          />
          <q-icon
            v-show="!state.loading"
            name="fiber_manual_record"
            color="positive"
          />
        </q-avatar>
        <q-toolbar-title shrink>
          <ascii class="ascii" />
        </q-toolbar-title>
        <q-space />
        <div v-if="state.account" class="q-pr-sm">
          <q-icon name="mdi-ethereum" size="32px" />
        </div>
        <div v-if="state.account" class="q-pr-lg">{{ state.balance }} ETH</div>
        <div v-if="state.username" class="q-pr-sm">
          {{ state.username }}
        </div>
        <div v-if="state.username">
          <avatar-icon :name="state.username" :size="32" class="q-pr-sm" />
        </div>
        <lang-switch />
      </q-toolbar>
      <q-toolbar class="bg-black">
        <q-btn
          :label="$t('loadMore')"
          @click="onLoadMore"
          color="primary"
          flat
          square
          style="width: 100%; height: 20px"
          :disable="state.loading"
        />
      </q-toolbar>
    </q-header>

    <q-page-container>
      <div class="chat-card__block chat-window q-pa-md">
        <chat-window :messages="state.messages" />
      </div>
    </q-page-container>

    <q-footer reveal elevated class="bg-black text-white border-top">
      <q-toolbar>
        <q-toolbar-title class="full-width">
          <q-form
            ref="form"
            @submit.prevent="onMessageSend"
            class="flex full-width q-gutter-md q-mb-sm justify-center"
            v-if="!data.loading && state.username"
          >
            <div style="flex-grow: 2">
              <q-input
                :label="$t('enterYourMessage')"
                v-model="data.newMessage"
                borderless
              />
            </div>
            <div class="flex items-center">
              <q-btn
                @click.prevent="onMessageSend"
                label="Send"
                color="primary"
                flat
                square
                :disable="!data.newMessage"
              />
            </div>
          </q-form>

          <q-btn
            v-if="state.account && !state.username"
            :label="$t('signUp')"
            flat
            square
            color="primary"
            class="full-width"
            @click="onSetUsernameClick"
          />
        </q-toolbar-title>
      </q-toolbar>
    </q-footer>
    <sign-up-dialog v-model:show="data.showSignUpDialog" />
  </q-layout>
</template>

<script setup>
import {
  init,
  state,
  getMessages,
  sendMessage,
  getMoreMessages,
} from "/src/scripts/init";
import { reactive, onMounted, ref } from "vue";
import SignUpDialog from "components/SignUpDialog.vue";
import ChatWindow from "components/ChatWindow.vue";
import AvatarIcon from "components/AvatarIcon.vue";
import langSwitch from "components/LangSwitchComponent.vue";
import ascii from "components/ASCIILogo.vue";
import { useRouter } from "vue-router";
const router = useRouter();

const data = reactive({
  showSignUpDialog: false,
  newMessage: null,
  loading: false,
});

const form = ref(0);

async function initChat() {
  await init();
  if (!state.isExtensionActive || !state.isRinkeby || !state.isAccessProvided)
    router.push("/");
  // await getMessages();
}

async function onSetUsernameClick() {
  if (!!state.username) return;
  data.showSignUpDialog = true;
}

async function onMessageSend() {
  if (!data.newMessage) return;
  data.loading = true;
  try {
    await sendMessage(data.newMessage);
  } catch (e) {
    console.log(e);
    data.loading = false;
  }
  data.newMessage = null;
  data.loading = false;
  await getMessages();
}

async function onLoadMore() {
  try {
    data.loading = true;
    await getMoreMessages();
  } catch (e) {
    console.log(e);
  }
  data.loading = false;
}

onMounted(() => {
  initChat();
});
</script>

<style lang="sass" scoped>
.chat-card
  background-color: rgba(0, 0, 0, 0.7)
  border: 3px solid $primary
  height: 800px
  body.screen--sm &, body.screen--xs &
    height: 100vh
    border: none
  .chat-card__border-bottom
    border-bottom: 1px solid $primary
  .chat-card__block
    min-height:50px
  .chat-logo
    color: $primary
    font-size: 26px

.chat-window
  flex-grow: 2
</style>

<style lang="sass">

.account-dropdown
  border: 1px solid $primary
  border-radius: 0

.ascii
  width: 180px

.border-bottom
  border-bottom: 1px solid $primary

.border-top
  border-top: 1px solid $primary
</style>
