<template>
  <div class="q-px-md q-py-xl bg-black">
    <!-- <h4 class="font-logo">Chatroom</h4> -->
    <ascii />
    <div class="q-pt-xl">
      <p>
        {{ $t("noAuth.disclaimer.text1")
        }}<a href="https://metamask.io" target="_blank">{{
          $t("noAuth.disclaimer.metamask")
        }}</a
        >{{ $t("noAuth.disclaimer.text2")
        }}<a
          href="https://www.google.com/search?q=rinkeby+faucet"
          target="_blank"
          >{{ $t("noAuth.disclaimer.faucet") }}</a
        >
      </p>
    </div>
    <div class="flex justify-center q-py-md">
      <check-chip
        :ok="state.isExtensionActive"
        @click="data.showExtensionDialog = true"
        >{{ $t("extensionInstalled") }}</check-chip
      >
      <check-chip
        :ok="state.isAccessProvided"
        @click="data.showAccessDialog = true"
        >{{ $t("accessProvided") }}</check-chip
      >
      <check-chip
        :ok="state.isRinkeby"
        @click="data.showRinkebyDialog = true"
        >{{ $t("connectedToRinkeby") }}</check-chip
      >
    </div>
    <div class="flex justify-end q-pt-lg">
      <q-btn
        :label="$t('recheck')"
        outline
        square
        color="primary"
        v-show="!state.initialized"
        @click="onRecheckClick"
      />
      <q-btn
        :label="$t('proceed')"
        outline
        square
        color="primary"
        icon-right="chevron_right"
        v-show="state.initialized"
        type="link"
        to="/chat"
      />
    </div>
    <extension-dialog v-model:show="data.showExtensionDialog" />
    <access-dialog v-model:show="data.showAccessDialog" />
    <rinkeby-dialog v-model:show="data.showRinkebyDialog" />
  </div>
  <div style="position: fixed; top: 0; right: 0">
    <lang-switch />
  </div>
</template>

<script setup>
import { onMounted } from "vue";
import { init, state } from "/src/scripts/init";
import ascii from "components/ASCIILogo.vue";
import CheckChip from "components/CheckChip.vue";
import ExtensionDialog from "components/ReqExtensionDialog.vue";
import AccessDialog from "components/ReqAccessDialog.vue";
import RinkebyDialog from "components/ReqRinkeby.vue";
import langSwitch from "components/LangSwitchComponent.vue";
import { reactive } from "vue";
import { useRouter } from "vue-router";
const router = useRouter();

const data = reactive({
  showExtensionDialog: false,
  showAccessDialog: false,
  showRinkebyDialog: false,
});

async function onRecheckClick() {
  router.go();
}

onMounted(() => {
  init();
});
</script>
