<template>
  <div>
    <img src="icon.svg" alt="Chatroom logo" class="logo" />
  </div>
</template>

<script setup>
import { onMounted } from "vue";
// import vResizeText from "vue-resize-text";

onMounted(() => {});
</script>

<style lang="sass" scoped>
.logo
  width: 100%
</style>
