<template>
  <div>
    <avatar
      v-if="colors && colors.length"
      :size="props.size"
      variant="beam"
      :name="props.name"
      :colors="colors"
    />
  </div>
</template>

<script setup>
import stc from "string-to-color";
import Matercolor from "matercolors";
import Avatar from "vue-boring-avatars";
import { computed } from "vue";

const props = defineProps({
  name: String,
  size: {
    type: Number,
    default: 32,
  },
});

const colors = computed(() => {
  const color = stc(props.name);
  let Palette = new Matercolor(color);
  const treshold = 400;
  const palette = [
    Palette.palette.analogous.primary[treshold],
    Palette.palette.primary[treshold],
    Palette.palette.complementary[treshold],
    Palette.palette.triadic.primary[treshold],
    Palette.palette.triadic.secondary[treshold],
  ];
  return palette;
});
</script>
