<template>
  <div class="max-width">
    <q-chat-message
      v-for="(message, index) in props.messages"
      :name="message.name"
      :text="[message.text]"
      :key="index"
      :sent="message.name === state.username"
      :bg-color="message.name === state.username ? 'grey-9' : 'blue-grey-14'"
      text-color="white"
      class="q-pb-sm"
    >
      <template v-slot:avatar>
        <avatar-icon :name="message.name" :size="42" class="q-px-sm" />
      </template>
      <template v-slot:stamp>
        <a
          :href="`https://rinkeby.etherscan.io/block/${message.number}`"
          target="_blank"
          style="font-size: 10px"
          >{{ message.time }}</a
        >
      </template>
    </q-chat-message>
  </div>
</template>

<script setup>
import { state } from "src/scripts/init";
import AvatarIcon from "components/AvatarIcon.vue";

const props = defineProps({
  messages: Array,
});
</script>
