<template>
  <q-chip
    :icon="state.icon"
    :color="state.color"
    text-color="white"
    outline
    :clickable="state.clickable"
    @click="onClick"
  >
    <slot></slot>
  </q-chip>
</template>

<script setup>
import { computed } from "vue";

const emit = defineEmits(["click"]);

const props = defineProps({
  ok: Boolean,
});

const state = computed(() => {
  return props.ok
    ? {
        color: "positive",
        icon: "check",
        clickable: false,
      }
    : {
        color: "negative",
        icon: "block",
        clickable: true,
      };
});

function onClick() {
  if (!state.value.clickable) return;
  emit("click");
}
</script>
