<template>
  <q-btn :label="data.locale.name" color="primary" flat square>
    <q-menu>
      <q-list style="min-width: 100px">
        <q-item
          v-for="locale in locales"
          :key="locale"
          clickable
          v-close-popup
          @click="onLocaleClick(locale)"
        >
          <q-item-section avatar
            ><q-icon name="check" v-show="locale.name === data.locale.name"
          /></q-item-section>
          <q-item-section>{{ locale.name }}</q-item-section>
        </q-item>
      </q-list>
    </q-menu>
  </q-btn>
</template>

<script setup>
import { i18n } from "boot/i18n";
import { reactive, onMounted } from "vue";
import { setLang, setSavedLang } from "/src/scripts/init";

const locales = [
  { name: "EN", value: "en-US" },
  { name: "RU", value: "ru" },
];

const data = reactive({
  locale: locales[0],
});

function onLocaleClick(locale) {
  data.locale = getLocaleByValue(locale.value);
  // i18n.global.locale.value = locale.value;
  setLang(locale.value);
}

function getLocaleByValue(value) {
  return locales.find((loc) => loc.value === value);
}

onMounted(() => {
  const value = setSavedLang();
  data.locale = getLocaleByValue(value);
});
</script>
