<template>
  <q-dialog v-model="alert" class="chatroom-dialog">
    <q-card>
      <q-card-section>
        <div class="text-h6">{{ $t("regAccessDialog.title") }}</div>
      </q-card-section>

      <q-card-section>
        {{ $t("regAccessDialog.disclaimer") }}
      </q-card-section>

      <q-card-actions align="right">
        <q-btn
          :label="$t('requestAccess')"
          color="primary"
          flat
          square
          @click="onRequestAccess"
        />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script setup>
import { computed, ref } from "vue";
import { init } from "src/scripts/init";
const props = defineProps({
  show: Boolean,
});

const emit = defineEmits(["update:show"]);

const alert = computed({
  get() {
    return props.show;
  },
  set(val) {
    emit("update:show", val);
  },
});

function onRequestAccess() {
  init();
  alert.value = false;
}
</script>
