<template>
  <q-dialog v-model="alert" class="chatroom-dialog">
    <q-card>
      <q-card-section>
        <div class="text-h6">{{ $t("reqRinkebyDialog.title") }}</div>
      </q-card-section>

      <q-card-section>
        {{ $t("reqRinkebyDialog.message") }}
      </q-card-section>

      <q-card-actions align="right">
        <q-btn :label="$t('gotIt')" color="primary" flat square v-close-popup />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script setup>
import { computed, ref } from "vue";
const props = defineProps({
  show: Boolean,
});

const emit = defineEmits(["update:show"]);

const alert = computed({
  get() {
    return props.show;
  },
  set(val) {
    emit("update:show", val);
  },
});
</script>
