<template>
  <q-dialog v-model="alert" class="chatroom-dialog">
    <q-card>
      <q-card-section>
        <div class="text-h6">{{ $t("signUpDialog.pickUpUsername") }}</div>
      </q-card-section>

      <q-card-section>
        <q-form @submit.prevent="onSubmit" autofocus ref="form">
          <q-input
            :label="$t('signUpDialog.yourUsername')"
            v-model="data.username"
            :disable="data.loading"
            :rules="rules"
          >
            <template v-slot:prepend v-if="data.username">
              <avatar-icon :name="data.username"
            /></template>
          </q-input>
          <div class="text-caption">{{ hint }}</div>
        </q-form>
      </q-card-section>

      <q-card-section align="center" v-show="data.loading">
        <q-spinner-bars color="secondary" size="20px" />
        <span class="q-pl-md text-secondary">{{ $t("pleaseWait") }}</span>
      </q-card-section>

      <q-card-actions align="right" v-show="!data.loading">
        <q-btn
          :label="$t('ok')"
          @click.prevent="onSubmit"
          color="primary"
          flat
          square
        />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script setup>
import { computed, ref } from "vue";
import { state } from "src/scripts/init";
import AvatarIcon from "components/AvatarIcon.vue";
import { i18n } from "boot/i18n";

const data = ref({
  username: null,
  loading: false,
});

const form = ref(null);

const t = i18n.global.t;

const rules = [
  (val) => !!val || t("requiredField"),
  (val) => val.length >= 3 || t("min3Sym"),
  (val) => !state.names.includes(val) || t("nameTaken"),
];

const hint = t("signUpDialog.hint");

const props = defineProps({
  show: Boolean,
});

const emit = defineEmits(["update:show"]);

async function onSubmit() {
  const result = await form.value.validate();
  if (!result) return;
  data.value.loading = true;
  try {
    await state.chatroom.methods
      .signup(data.value.username)
      .send({ from: state.account, gas: "3000000" });
  } catch (error) {
    console.log(error);
    data.value.loading = false;
  }
  data.value.loading = false;
  alert.value = false;
}

const alert = computed({
  get() {
    return props.show;
  },
  set(val) {
    emit("update:show", val);
  },
});
</script>
