// app global css in Sass form
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap')
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Roboto+Mono:wght@300&display=swap')

.font-default
  font-family: 'IBM Plex Mono'

.font-logo
  font-family: 'Dela Gothic One'

a
  color: $primary

.chatroom-dialog
  .q-card
    font-family: 'IBM Plex Mono'
    border-radius: 0
    border: 3px solid $primary
    .q-card__section
      border-bottom: 1px solid $primary
    .q-card__section:first-child
      color: $primary

/* width */
::-webkit-scrollbar 
  width: 10px


/* Track */
::-webkit-scrollbar-track 
  background: black


/* Handle */
::-webkit-scrollbar-thumb 
  background: $primary


/* Handle on hover */
::-webkit-scrollbar-thumb:hover 
  background: #555

  width: 10px