<template>
  <router-view />
</template>

<script>
import { defineComponent } from "vue";

export default defineComponent({
  name: "App",
});
</script>

<script setup>
import { useQuasar } from "quasar";
const $q = useQuasar();
$q.dark.set(true);
</script>
