<template>
  <particles />
  <q-layout view="hHh lpR fFf" class="font-default" id="particles-js">
    <div class="flex justify-center items-center max-height">
      <div class="fix-width">
        <router-view />
      </div>
    </div>
  </q-layout>
</template>

<script setup>
import { onMounted } from "vue";
import Particles from "components/ParticlesComponent.vue";

onMounted(() => {});
</script>

<style lang="sass" scoped>
.full-height
  height: 100vh
</style>

<style lang="sass" scoped>
.max-height
  height: 100vh

.fix-width
  max-width:890px
  width:890px

.background
  position: absolute
  display: block
  top: 0
  left: 0
  z-index: 0
</style>
